<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/files.ejs") %>
</head>
<body class="newBody">
    <%- include("./partials/header.ejs") %>
    <div style ="padding-left:1em;">
        <a href="/"><button class="btn btn-success">Home Page</button></a>
    </div>
    <div class="newMain">
        <div class="newSubMain">
            <h3 class="newH2" >Add a Country</h3>
            <form class="newForm" method="post" action="/" >
                <label class="newLabel">Country: <br><input class="input-group-text" type="text" name="countryName" /></label><br>
                <label class="newLabel">Capital: <br><input class="input-group-text" type="text" name="capitalCity" /></label><br>
                <label class="newLabel"> Population: <br><input class="input-group-text" type="number" name="population" /></label><br>
                <label class="newLabel"> FlagURL: <br><input class="input-group-text" type="text" name="flagImageUrl" /></label><br>
                <label class="newLabel"> IsDeveloped: <input  type="checkbox" name="developedCountry"  /></label><br>
                <div class ="newButton">
                    <input  type="submit"  value="Add Country" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
    
</body>
</body>
</html>