<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 >Add a Country</h1>
    <div class="main">
        <form method="post" action="/" >
            <label>Country: <br><input type="text" name="countryName" /></label><br>
            <label>Capital: <br><input type="text" name="capitalCity" /></label><br>
            <label> Population: <br><input type="number" name="population" /></label><br>
            <label> FlagURL: <br><input type="text" name="flagImageUrl" /></label><br>
            <label> IsDeveloped: <input type="checkbox" name="developedCountry"  /></label><br>
            <div>
                <input class= "submits" type="submit"  value="Add Animal"/>
                <a href="/animal"><button class= "submits" >Home Page</button></a>
            </div>
        </form>
    </div>
    
</body>
</body>
</html>